---
import { Picture } from 'astro:assets';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
import img from '~/assets/mountains-8314422.svg';
---

<MarkdownLayout title="About" description="About Abhinav Patel's blog." currentNav="About">
    <Picture
        class="lg:float-right lg:ml-4 lg:w-2/5"
        src={img}
        formats={['avif', 'webp']}
        alt="mountains"
    />
    <p>
        Greetings, fellow explorers of the digital frontier. I am Abhinav Patel – a computer scientist with an insatiable appetite for knowledge and a boundless curiosity about the universe.
    </p>
    <p>
        At my core, I am a mathematician and a computer scientist intertwined, each discipline informing and enriching the other. I thrive on the thrill of discovery and the challenge of exploring uncharted territory, whether it be the intricate realms of mathematics or the boundless expanses of computer science. From the elegant equations of calculus to the intricate algorithms of machine learning, I find beauty in the fusion of logic and creativity.
    </p>
    <p>
        My journey is one of relentless pursuit – of pushing the boundaries of what is known and delving into the mysteries that lie beyond. With every project I undertake, whether it be researching computer algorithms or diving into the depths of compiler design, I pour my full focus and best knowledge, always striving to exceed expectations and leave a lasting impression.
    </p>
    <p>
        But my interests extend far beyond the confines of academia. In the realm of literature, I have discovered a profound means of self-expression, where I explore the depths of emotions, unravel intricate themes, and captivate readers with evocative imagery. From romantic poetry to experimental prose, I find solace and inspiration in the written word, constantly seeking to weave tales that resonate on a deep level.
    </p>
    <p>
        Join me on this journey of exploration and discovery as we delve into the depths of mathematics, the complexities of computer science, and the wonders of the human experience. Together, let us push the boundaries of knowledge and unlock the secrets of the universe.
    </p>
</MarkdownLayout>
