---
import { Picture } from 'astro:assets';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
import { SiteTitle, SiteDescription } from '~/config';
import img from '~/assets/undraw_dog_c7i6.svg';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
 <div class="flex flex-col items-center gap-4 xl:flex-row">
        <Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />
        <div>
		 <h1>Hello there! I am Abhinav👋</h1>
            <h2>Welcome, Wanderer!</h2>
            <p>
                Step into the realm of Abhinav Patel, where the boundaries of reality blur and imagination knows no limits. This is not just a blog; it's a sanctuary for the curious, the dreamers, and the seekers of knowledge.
            </p>
            <p>
                Through the corridors of this digital sanctuary, you'll traverse the vast expanse of human intellect – from the intricacies of computer science to the depths of mathematical theory, and the heights of literary expression. Here, every click of the mouse is a step towards enlightenment, and every word is a beacon of insight.
            </p>
            <p>
                So, fellow traveler, whether you seek solace in the beauty of language, marvel at the elegance of algorithms, or ponder the mysteries of the cosmos, you'll find a home here. Join me on this odyssey of discovery, where every page turn reveals a new chapter in the saga of human ingenuity.
            </p>
        </div>
    </div>
</MarkdownLayout>
